.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    height: 70px;
    z-index: 100;
}

.logo__div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    padding-left: 1rem;
    margin-bottom: auto;
    z-index: 1;
}

.logo {
    height: 70px;
    width: 150px;
    object-fit: contain;
}

.cart__div {
    flex: 0.4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.3rem;
    margin-bottom: auto;
}
